<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resultados del Test</h1>
        <div class="result-box-datos">
            <p class="info-heading">Información del Usuario:</p>
            <p><strong>Nombre:</strong> {{ first_name }} {{ last_name }}</p>
            <p><strong>Edad:</strong> {{ age }}</p>
            <p><strong>Género:</strong> {{ gender }}</p>
        </div>
        
        <div class="result-box">
            <p class="info-heading">Diagnóstico:</p>
            <p>{{ diagnosis }}</p>
        </div>

    </div>
</body>
</html>
