body {
  font-family: 'Manrope', Regular, monospace;
    background: linear-gradient(to bottom, #1f1f2e, #7F8C8D);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.avatar {
    background: url('/static/logo_cie5.png') no-repeat center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.register-container {
    background: #2C3E50;
    padding: 10px 60px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}


.title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
    
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.input-container input::placeholder {
    color: #bbb;
    font-family: 'Courier New', Courier, monospace;
}

.register-btn {
    background: #1ABC9C;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.register-btn:hover {
    background: linear-gradient(to right, #5b10b7, #2061d4);
}
.title {
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es interactivo */
    font-weight: bold; /* Aplica negrita */
    transition: transform 0.3s ease; /* Transición para suavizar el cambio de tamaño */
  }
  
  .title:hover {
    transform: scale(1.1); /* Hace que el título aumente de tamaño al pasar el cursor */
  }
  
  .title.clicked {
    animation: enlarge 0.3s ease; /* Animación al hacer clic */
  }
  
  @keyframes enlarge {
    0% {
      transform: scale(1); /* Tamaño original */
    }
    50% {
      transform: scale(1.2); /* Aumenta a un 20% más grande */
    }
    100% {
      transform: scale(1); /* Vuelve al tamaño original */
    }
  }

/* Estilos CSS con clase única y peso de fuente */
.tektur-custom {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Puedes ajustar el peso de la fuente según necesites */
    font-style: normal;
    font-variation-settings:
      "wdth" 100; /* Ajuste de variación de ancho */
  }
  
  /* Estilos para el label */
label[for="gender"] {
    display: block;
    margin-bottom: 10px;
    color: #aaa;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos para el select */
#gender {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace; /* Mantenemos la misma fuente */
    margin-bottom: 20px; /* Espacio inferior para separación */
}

/* Estilos para las opciones dentro del select */
#gender option {
    background-color: #2b2b2b; /* Color de fondo para las opciones */
    color: #fff; /* Color del texto de las opciones */
    font-family: 'Courier New', Courier, monospace; /* Fuente para las opciones */
    font-size: 16px; /* Tamaño de fuente para las opciones */
}

