body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom, #1f1f2e, #7F8C8D);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #2C3E50;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.avatar {
    background: url('/static/logo_cie5.png') no-repeat center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
    
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.input-container input::placeholder {
    color: #bbb;
    font-family: 'Courier New', Courier, monospace;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.options input {
    margin-right: 5px;
}

.options .forgot-password {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.options .forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background: #1ABC9C;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.login-btn:hover {
    background: linear-gradient(to right, #5b10b7, #2061d4);
}

.register-link {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.register-link p {
    margin: 0;
    font-size: 14px;
}

.register-link a {
    color: #1ABC9C;
    text-decoration: none;
    font-size: 14px;
}

.register-link a:hover {
    text-decoration: underline;
}
  .title {
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es interactivo */
    font-weight: bold; /* Aplica negrita */
    transition: transform 0.3s ease; /* Transición para suavizar el cambio de tamaño */
  }
  
  .title:hover {
    transform: scale(1.1); /* Hace que el título aumente de tamaño al pasar el cursor */
  }
  
  .title.clicked {
    animation: enlarge 0.3s ease; /* Animación al hacer clic */
  }
  
  @keyframes enlarge {
    0% {
      transform: scale(1); /* Tamaño original */
    }
    50% {
      transform: scale(1.2); /* Aumenta a un 20% más grande */
    }
    100% {
      transform: scale(1); /* Vuelve al tamaño original */
    }
  }
  .tektur-custom {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Puedes ajustar el peso de la fuente según necesites */
    font-style: normal;
    font-variation-settings:
      "wdth" 100; /* Ajuste de variación de ancho */
  }
  